<footer class="container pt-2 pb-2">
  <div class="row">
    <div class="col-8 col-md pt-3 pb-3 pl-5 ml-5">
      <img src="images/ecofurn-logo.png" />
    </div>
    <!-- <div class="col-6 col-md pt-4">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="" href="#">Some Link</a></li>
        <li><a class="" href="#">Some Link</a></li>
        <li><a class="" href="#">Some Link</a></li>
        <li><a class="" href="#">Some Link</a></li>
      </ul>
    </div>
    <div class="col-6 col-md pt-4">
      <h5>Home Owners</h5>
      <ul class="list-unstyled text-small">
        <li><a class="" href="#">Some Link</a></li>
        <li><a class="" href="#">Some Link</a></li>
        <li><a class="" href="#">Some Link</a></li>
        <li><a class="" href="#">Some Link</a></li>
      </ul>
    </div>
    <div class="col-6 col-md pt-4">
      <h5>Professionals</h5>
      <ul class="list-unstyled text-small">
        <li><a class="" href="#">Some Link</a></li>
        <li><a class="" href="#">Some Link</a></li>
        <li><a class="" href="#">Some Link</a></li>
        <li><a class="" href="#">Some Link</a></li>
      </ul>
    </div> -->
  </div>
</footer>
