<div id="main-headline" class="position-relative overflow-hidden d-md-flex w-100 pl-md-3 pb-md-5 text-center bg-light">
  <div class="pt-md-3 px-md-5 ml-md-5 mr-md-2 mt-md-5 text-center overflow-hidden">
    <h1 class="display-4 font-weight-normal">
      More Comfort, Less Cost<br/>
      with <span class="emphasize">ECO FURN</span>
    </h1>
    <p class="headline-text lead font-weight-normal">
      Use proven technology with your new or existing single-stage furnace to <span class="emphasize">reduce your heating bill
      by up to 20%</span> and improve the comfort of your home.</p>
    <a id="headline-btn" class="btn btn-primary" href="#">Learn More</a>
  </div>
  <div class="mx-md-5 pt-md-5 pr-md-5">
    <img id="headline-image" class="img-fluid mr-md-5 pr-md-5" src="images/ecodevice.png"/>
  </div>
</div>
