<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="" href="#">
      <img src="images/ecofurn-logo-h.svg" />
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
    <a class="py-2 d-none d-md-inline-block" href="#row2-components">Home Owners</a>
    <a class="py-2 d-none d-md-inline-block" href="#row2-components">Professionals</a>
    <a class="py-2 d-none d-md-inline-block" href="#">About Us</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Contact Us</a>
  </div>
</nav>
